# Quartus 编译数据库与中间缓存目录
/prj/db/
/prj/incremental_db/
/prj/output_files/
/prj/greybox_tmp/
/prj/hc_output/
/prj/simulation/

# Quartus 工作区个人配置与工具报告
*.qws
*.rpt
*.summary
*.smsg
*.pin
*.done
*.jdi
*.ddb
*.map
*.bpf
*.cdf

# 镜像与固件产物 (建议通过 Release 独立分发)
*.sof
*.pof
*.jic

# ModelSim / EDA 仿真中间文件
/tb/sim/work/
*.wlf
*.mpf
transcript

# 编辑器配置
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
*.bak
